* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #111;
  background-color: #fff;
}

/* CONTENEDOR */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  background-color: #000;
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}

.nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #000;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
  margin: 40px 0;
}

.card {
  margin-bottom: 30px;
  width: 100%;
  height: 95%;
}

.card-img-top{
    height: 100px;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
    padding-top: 30px;
}

.card-text{
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
}
.card-title{
    text-align: center;
    height: 60px;
    margin-bottom: 5px;
    
}
.card-price{
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
  .header-content {
    flex-direction: column; /* Apila logo, nav e iconos */
    gap: 15px;
    text-align: center;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav a {
    margin: 5px 10px;
  }
  .card-img-top {
    height: 150px; /* Un poco más grande en móviles para que se aprecie */
  }
}
/* FOOTER */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
